
body{
    background-image: url("bg.jpg");
    background-color: #77d8d8;

}
.add{
    border:none;
    background-color:blue;
    padding:0;
    border-radius: 20px;
}
.btn-xl:hover {
    background-color: lime;
}
.btn-sm:hover{
    background-color: lime;
}
.container{
    position: relative;
    text-align: center;

}
form{
    border: blue;
    color: black;
}
#lab1{
    margin-left: 20px;
}
#login{
    margin-right: 10px;
}
.btn-xl {
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 17px;
    border-radius: 10px;
    background-color: #17a2b8;
    border: none;
    text-decoration: none;
}
.btn-xl:hover{
    background-color: aqua ;
}
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
.btn-sm{
    font-size: 17px;
    border-radius: 10px;
    background-color:#17a2b8;
    border: none;
    text-decoration: none;
}
.btn-sm:hover{
    background-color: aqua;
}
h1{
    color: black;
}
#mid{
    position: center;
}
.bg-primary{
    background-color: #eff3c6 !important;
}
.c{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
a:hover{
    text-decoration: none;
}
a:active{
    border-radius: 20px;
}
img{
    border-radius: 50%;
}
.col-lg{
    padding: none; !important;
    margin: 0 !important;
}