<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script type="text/javascript">
        n =  new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        document.getElementById("todayDate").innerHTML = y + "-" + m + "-" + d;
    </script>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/secondary.css">

</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div calss = "container">
<br/>
<h1>Add new Reservation</h1>

<form action="/createReservation" method="post">
    <label>Enter Customer ID: </label>
    <input type="text" name="res_customer" required>
    <br/>
    <br/>
    <label>Enter Motorhome ID: </label>
    <input type="text" name="res_motorhome" required>
    <br/>
    <br/>
    <label>Today's Date: </label>
    <input type="date" id="todayDate" name="date_made" >
    <br/>
    <br/>
    <label>Enter Reservation Start Date(YYYY-MM-DD): </label>
    <input type="date" name="date_reservation_start" required  >
    <br/>
    <br/>
    <label>Enter Reservation End Date(YYYY-MM-DD): </label>
    <input type="date" name="date_reservation_end" required  >
    <br/>
    <br/>
    <label>Enter Season: </label>
    <input type="text" name="season" required  >
    <br/>
    <br/>
    <label>Enter Price: </label>
    <input type="text" name="price" required >
    <br/>
    <br/>
    <input id = "add" type="submit" value="Add new Reservation">

</form>
<br />
<a href="/owner">
    <button class="btn_back">Cancel</button>
</a>
</div>
</body>
</html>