<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script type="text/javascript">
        n =  new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        document.getElementById("todayDate").innerHTML = y + "-" + m + "-" + d;
    </script>-->
</head>
<body>
</table>
<h1>Add new Reservation</h1>

<form action="/createReservation" method="post">
    <label>Enter Customer ID: </label>
    <input type="text" name="res_customer" required>
    <br/>
    <br/>
    <label>Enter Motorhome ID: </label>
    <input type="text" name="res_motorhome" required>
    <br/>
    <br/>
    <label>Today's Date: </label>
    <input type="date" id="todayDate" name="date_made" >
    <br/>
    <br/>
    <label>Enter Reservation Start Date: </label>
    <input type="date" name="date_reservation_start" required  >
    <br/>
    <br/>
    <label>Enter Reservation End Date: </label>
    <input type="date" name="date_reservation_end" required  >
    <br/>
    <br/>
    <label>Enter Season: </label>
    <input type="text" name="season" required  >
    <br/>
    <br/>
    <label>Enter Price: </label>
    <input type="text" name="price" required >
    <br/>
    <br/>
    <input id = "add" type="submit" value="Add new Reservation">

</form>
<br />
<a href="/">
    <button>Cancel</button>
</a>
</body>
</html>