<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label>Customer ID:</label>
<input type="text" name="cus_id" th:value="${cus_id}" readonly /><br />
<label>Start Date Reservation:</label>
<input type="text" name="date_reservation_start" th:value="${date_reservation_start}" readonly /><br />
<label>Customer ID:</label>
<input type="text" name="date_reservation_end" th:value="${date_reservation_end}" readonly /><br />
<label>Start Date Reservation:</label>
<input type="text" name="date_made" th:value="${date_made}" readonly /><br />
<label>Customer ID:</label>
<input type="text" name="season" th:value="${season}" readonly /><br />
<label>Start Date Reservation:</label>
<input type="text" name="motor_id" th:value="${motor_id}" readonly /><br />
<label>Customer ID:</label>
<input type="text" name="motorhome" th:value="${motorhome.price_per_day}" readonly /><br />




</body>
</html>