<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/secondary.css">

    <style>
    </style>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div class = "container">
    <h1>Invoices</h1>
    <table>
        <thead>
        <tr>
            <th>Invoice ID</th>
            <th>Customer</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Motorhome</th>
            <th>Reservation End Date</th>
            <th>Reservation Start Date</th>
            <th>Canceled</th>
            <th>Total Price</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="invoice: ${invoices}">
            <td th:text="${invoice.invoices_id}"/>
            <td><span th:text="${invoice.first_name}"/> <span th:text="${invoice.last_name}"/></td>
            <td th:text="${invoice.email}"/>
            <td th:text="${invoice.phone_number}"/>
            <td th:text="${invoice.model_name}"/>
            <td th:text="${invoice.reg_number}"/>
            <td th:text="${invoice.date_reservation_start}"/>
            <td th:text="${invoice.date_reservation_end}"/>
            <td th:text="${invoice.canceled}"/>
            <td th:text="${invoice.total_price}"/>

            <td>
                <a th:href="@{'/viewOneInvoice/' + ${invoice.invoices_id}}">
                    <button class="btn-view">View Info</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>