<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Motorhome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/secondary.css">
    <style>
    </style>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</table>
<div class = "container" style="text-align: center">
    <h1 style="text-align: center">Create motorhome</h1>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6" style="background-color: lightblue;border-radius: 30px;text-align: center">
            <br/>
            <form action="/add_motorhome" method="post">
                <label>Enter Reg-Num: </label>
                <input type="text" name="reg_number" required pattern="\D\D\d\d\d\d\d">
                <br/>
                <br/>
                <label>&emsp;Enter Model: </label>
                <input type="text" name="motor_model" required pattern="^[1-9][0-9]*">
                <br/>
                <br/>
                <label for="status">&emsp;&emsp;Status: </label>
                <input list="status" name="status_rent" required >
                <datalist id="status">
                    <option value="Ready">
                    <option value="Repair">
                    <option value="Cleaning">
                </datalist>
                <br/>
                <br/>
                <label>Enter Mileage: </label>
                <input type="text" name="mileage" required pattern="\d*" >
                <br/>
                <br/>
                <label>Enter Capacity: </label>
                <input type="text" name="capacity" required >
                <br/>
                <br/>

                <input id = "add" type="submit" value="Add new Motorhome">

            </form>
            <br />


        <h3>Motorhome Model List</h3>
        <br/>
        <div class="table-responsive">
            <table class="table" style="background-color: lightblue;">
                <thead class ="thead-dark">
                <tr>
                    <th>Model ID</th>
                    <th>Model Name</th>
                    <th>Model Type</th>
                    <th>Brand</th>
                    <th>Size</th>
                    <th>Layout</th>
                    <th>Seats</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="carmodel: ${carmodels}">
                    <td th:text="${carmodel.model_id}"/>
                    <td th:text="${carmodel.model_name}"/>
                    <td th:text="${carmodel.model_type}"/>
                    <td th:text="${carmodel.brand}"/>
                    <td th:text="${carmodel.size}"/>
                    <td th:text="${carmodel.layout}"/>
                    <td th:text="${carmodel.seats}"/>

                </tr>

                </tbody>

            </table>
        </div>
        <div>
            <a href="/motorhomes">
                <button class="btn-cancel">Cancel</button>
            </a>
        </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
</body>
</html>