<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Motorhome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
    </style>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</table>
<div class = "container">
<h1>Add new Motorhome</h1>

<form action="/add_motorhome" method="post">
    <label>Enter Registration Number: </label>
    <input type="text" name="reg_number" required>
    <br/>
    <br/>
    <label>Enter Motorhome Model: </label>
    <input type="text" name="motor_model" required>
    <br/>
    <br/>
    <label>Enter Rent Status: </label>
    <input type="text" name="status_rent" required  >
    <br/>
    <br/>
    <label>Enter Mileage: </label>
    <input type="number" name="mileage" required  >
    <br/>
    <br/>
    <label>Enter Capacity: </label>
    <input type="number" name="capacity" required >
    <br/>
    <br/>

    <input id = "add" type="submit" value="Add new Motorhome">

</form>
<br />
<a href="/motorhomes">
    <button>Cancel</button>
</a>
</div>
</body>
</html>