<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
</table>
<h1>Add new Motorhome</h1>

<form action="/add_motorhome" method="post">
    <label>Enter Registration Number: </label>
    <input type="text" name="reg_number" required>
    <br/>
    <br/>
    <label>Enter Motorhome Model: </label>
    <input type="text" name="motor_model" required>
    <br/>
    <br/>
    <label>Enter Rent Status: </label>
    <input type="text" name="status_rent" required  >
    <br/>
    <br/>
    <label>Enter Mileage: </label>
    <input type="text" name="mileage" required  >
    <br/>
    <br/>
    <label>Enter Capacity: </label>
    <input type="text" name="capacity" required >
    <br/>
    <br/>

    <input id = "add" type="submit" value="Add new Motorhome">

</form>
<br />
<a href="/">
    <button>Cancel</button>
</a>
</body>
</html>