<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Models</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/secondary.css">
    <style>
    </style>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div class = "container">
    <br/>
    <h1>Motorhome Model List</h1>
    <br/>
    <div class="table-responsive">
        <table class="table" style="background-color: lightblue;">
            <thead class ="thead-dark">
            <tr>
                <th>Model ID</th>
                <th>Model Name</th>
                <th>Model Type</th>
                <th>Brand</th>
                <th>Size</th>
                <th>Layout</th>
                <th>Seats</th>
                <th>Others</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="carmodel: ${carmodels}">
                <td th:text="${carmodel.model_id}"/>
                <td th:text="${carmodel.model_name}"/>
                <td th:text="${carmodel.model_type}"/>
                <td th:text="${carmodel.brand}"/>
                <td th:text="${carmodel.size}"/>
                <td th:text="${carmodel.layout}"/>
                <td th:text="${carmodel.seats}"/>
                <td>
                    <a th:href="@{'/delete_carmodel/'+${carmodel.model_id}}">
                        <button class="btn-delete", id="btn-delete">Delete Model</button>
                    </a>
                    <a th:href="@{'/update_carmodel/'+${carmodel.model_id}}">
                        <button class="btn-update">Update</button>
                    </a>
                </td>
                <td>

                </td>
            </tr>

            </tbody>

        </table>
    </div>
    <div>
        <a href="/add_carmodel">
            <button class ="add">Add new Model</button>
        </a>
        <br/>
        <br/>
        <a href="/owner">
            <button class="btn_back">Go Back</button>
        </a>
    </div>
</div>
</body>
</html>