<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Models</title>
</head>
<body>
<h1>Motorhome Model List</h1>
<table>
    <thead>
    <tr>
        <th>Model ID</th>
        <th>Model Name</th>
        <th>Model Type</th>
        <th>Brand</th>
        <th>Size</th>
        <th>Layout</th>
        <th>Seats</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="carmodel: ${carmodels}">
         <td th:text="${carmodel.model_id}"/>
         <td th:text="${carmodel.model_name}"/>
         <td th:text="${carmodel.model_type}"/>
         <td th:text="${carmodel.brand}"/>
         <td th:text="${carmodel.size}"/>
         <td th:text="${carmodel.layout}"/>
         <td th:text="${carmodel.seats}"/>
         <td>
<!--            <a th:href="@{'/delete_motorhome/'+${motorhome.motor_id}}">-->
<!--                <button class="btn-delete", id="btn-delete">Delete Motorhome</button>-->
<!--            </a>-->
<!--            <a th:href="@{'/update_motorhome/'+${motorhome.motor_id}}">-->
<!--                <button>Update</button>-->
<!--            </a>-->
        </td>
        <td>

        </td>
    </tr>

    </tbody>
<!--    <a href="/add_motorhome">-->
<!--        <button class ="add">Add new Motorhome</button>-->
<!--    </a>-->
</table>
<div>

    <a href="/">
        <button class="btn_back">Go Back</button>
    </a>
</div>
</body>
</html>