<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/secondary.css">
    <style>
    </style>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div class = "container " style="text-align: center">
    <h1 style="text-align: center">Add new extra</h1>

    <form  style="padding-bottom: 20px" action="/createExtra" method="post">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" style="background-color: lightblue;border-radius: 30px;text-align: right">
                <br/>
                <br>
                <label>Enter extra name: </label>
                <input type="text" name="name_extra" required pattern="\D*">
                <br/>
                <br/>
                <label>Enter price: </label>
                <input type="text" name="price" required pattern="\d*">
                <br/>
                <br/>
                <label>Enter availability: </label>
                <input type="text" name="available" required value="Yes">
                <br/>
                <br/>

                <input id = "add" type="submit" value="Add new extra">

    </form>

    <br />
    <br />
    <a href="/extras">
        <button class="btn-cancel">Cancel</button>
    </a>
    <br/>
</div>
<div class="col-lg-4">

</div>
</div>
</div>
</body>
</html>