<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/createCustomer" method="post">
    <label>Enter First Name: </label>
    <input type="text" name="first_name" required>
    <br/>
    <br/>
    <label>Enter Last Name: </label>
    <input type="text" name="last_name" required>
    <br/>
    <br/>
    <label>Enter Address: </label>
    <input type="text" name="address" required>
    <br/>
    <br/>
    <label>Enter Zip: </label>
    <input type="text" name="cus_zips" >
    <br/>
    <br/>
    <label>Enter Driver License: </label>
    <input type="text" name="driver_license" required >
    <br/>
    <br/>
    <label>Enter Email: </label>
    <input type="text" name="email" required  >
    <br/>
    <br/>
    <label>Enter Phone Number: </label>
    <input type="text" name="phone_number" required >
    <br/>
    <br/>
    <label>Enter Bank Card Number: </label>
    <input type="text" name="bank_card" required >
    <br/>
    <br/>
    <input type="submit" value="Add new Customer">

</form>
</body>
</html>