<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/secondary.css">
    <style>
    </style>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div class = "container" style="text-align: center">
    <h1 style="text-align: center">Customer Information</h1>
    <br/>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4" style="background-color: lightblue;border-radius: 30px;text-align: right">
<form action="/createCustomer" method="post">
    <label>Enter First Name: </label>
    <input type="text" name="first_name" required pattern="\D*">
    <br/>
    <br/>
    <label>Enter Last Name: </label>
    <input type="text" name="last_name" required pattern="\D*">
    <br/>
    <br/>
    <label>Enter Address: </label>
    <input type="text" name="address" required>
    <br/>
    <br/>
    <label>Enter Zip: </label>
    <input type="text" name="cus_zips" minlength="4" maxlength="4" pattern="\d*">
    <br/>
    <br/>
    <label>Enter Driver License: </label>
    <input type="text" name="driver_license" required minlength="8" maxlength="8" pattern="\d*">
    <br/>
    <br/>
    <label>Enter Email: </label>
    <input type="email" name="email" required  >
    <br/>
    <br/>
    <label>Enter Phone Number: </label>
    <input type="text" name="phone_number" required minlength="8" maxlength="8" pattern="\d*">
    <br/>
    <br/>
    <label>Bank Card Number: </label>
    <input type="text" name="bank_card" required minlength="16" maxlength="16" pattern="\d*">
    <br/>
    <br/>
    <div style="text-align:center">
        <input type="submit" value="Add new Customer">
    </div>
</form>
    <br/>
    <div style="text-align:center">
        <a href="/reservations"><button class="btn-cancel">Cancel</button></a>
    </div>
        </div>

    <div class="col-lg-4"></div>
    </div>
    </div>
</body>
</html>


