<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
<style>
</style>
</head>
<body>
<div id="tittle">
    <h1>Nordic Motorhome Rental</h1>
</div>

<a href="/reservations">
    <button class ="add">Reservations Menu</button>
</a>
<a href="/extras">
    <button class="add">Extras Menu</button>
</a>
<a href="/motorhomes">
    <button class ="add">Motorhomes Menu</button>
</a>
<a href="/carmodels">
    <button class ="add">Models Menu</button>
</a>
<a href="/startInvoice">
    <button class ="add">Create an Invoice</button>
</a>
<a href="/displayInvoices">
    <button class ="add">Invoices</button>
</a>
<a href="/employee">
    <button class="add">Employee Menu</button>
</a>
<a href="/">
    <button>Log out</button>
</a>
    <p style="margin-left: 60%;border: black 1px solid ;width: 100% border-box ;padding: 3%" >Tooltips with help will pop-up when you hover over the text fields when creating</p>

</body>
</html>