<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/secondary.css">
    <style>
    </style>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div class = "container-fluid" style="text-align: center">
    <h1 style="text-align: center">Choose a reservation to create an Invoice</h1>
    <br/>
    <br/>
    <div class="table-responsive">
        <table class="table" style="background-color: lightblue;">
            <thead class ="thead-dark">
            <tr>
                <th>Reservation ID</th>
                <th>Customer</th>
                <th>Motorhome ID</th>
                <th>Call Date</th>
                <th>Reservation Start Date</th>
                <th>Reservation End Date</th>
                <th>Season</th>
                <th>Invoice ID</th>
                <th>Price</th>
                <th>Options</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="reservation: ${reservations}">
                <td th:text="${reservation.res_id}"/>
                <td th:text="${reservation.res_customer}"/>
                <td th:text="${reservation.res_motorhome}"/>
                <td th:text="${reservation.date_made}"/>
                <td th:text="${reservation.date_reservation_start}"/>
                <td th:text="${reservation.date_reservation_end}"/>
                <td th:text="${reservation.season}"/>
                <td th:text="${reservation.invoice_id}"/>
                <td th:text="${reservation.price}"/>
                <td>
                    <a th:href="@{'/continueInvoice/' + ${reservation.res_id}}">
                        <button class="btn-choose">Choose Invoice</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
<div class="container-fluid">
    <a href="/returnToMenu"><button class="btn_back">Go back</button></a>
</div>
</body>
</html>