<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Motorhome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
    </style>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div class = "container">
<form action="/update_motorhome" method="post">
    <label>Motorhome ID: </label>
    <input type="text" name="motor_id" th:value="${motorhome.motor_id}" readonly /><br />
    <br/>
    <label>Change Registration Number: </label>
    <input type="text" name="reg_number" th:value="${motorhome.reg_number}" required>
    <br/>
    <br/>
    <label>Change Motorhome Model: </label>
    <input type="text" name="motor_model" th:value="${motorhome.motor_model}" required>
    <br/>
    <br/>
    <label>Change Rent Status: </label>
    <input type="text" name="status_rent" th:value="${motorhome.status_rent}" required  >
    <br/>
    <br/>
    <label>Change Mileage: </label>
    <input type="text" name="mileage" th:value="${motorhome.mileage}" required >
    <br/>
    <br/>
    <label>Change Capacity: </label>
    <input type="text" name="capacity" th:value="${motorhome.capacity}" required >
    <br/>
    <br/>
    <input type="submit" value="Save Changes">

</form>
<br />
<a href="/returnToMenu">
    <button>Cancel</button>
</a>
</div>
</body>
</html>