<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/secondary.css">
    <style>
    </style>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div class = "container">
    <br/>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4" style="background-color: lightblue;border-radius: 30px;text-align: right">
            <form action="/updateReservation" method="post">
                <label>Reservation ID: </label>
                <input type="text" name="res_id" th:value="${reservation.res_id}" readonly /><br />
                <br/>
                <label>Change Customer ID: </label>
                <input type="text" name="res_customer" th:value="${reservation.res_customer}" required>
                <br/>
                <br/>
                <label>Change Motorhome ID: </label>
                <input type="text" name="res_motorhome" th:value="${reservation.res_motorhome}" required>
                <br/>
                <br/>
                <label>Change Reservation Date: </label>
                <input type="text" name="date_reservation" th:value="${reservation.date_reservation}" required  >
                <br/>
                <br/>
                <label>Change Price: </label>
                <input type="text" name="price" th:value="${reservation.price}" required >
                <br/>
                <br/>


                <input type="submit" value="Save Changes">

            </form>
            <br />
            <a href="/reservations">
                <button class="btn-cancel">Cancel</button>
            </a>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
</body>
</html>