<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/secondary.css">
    <style>
    </style>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div class = "container">
<h1>Invoice Information</h1>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4" style="background-color: lightblue;border-radius: 30px;text-align: center; padding-bottom: 10px">
    <span>Invoice ID: </span><span th:text="${invoice.invoices_id}"/><br />
    <span>Service Provided: </span><span th:text="${invoice.service}"/><br />
    <span>Reservation ID: </span><span th:text="${invoice.res_id}"/><br />
    <span>Customer ID: </span><span th:text="${invoice.res_customer}"/><br />
    <span>Customer First Name: </span><span th:text="${invoice.first_name}"/><br />
    <span>Customer Last Name: </span><span th:text="${invoice.last_name}"/><br />
    <span>Customer's Email: </span><span th:text="${invoice.email}"/><br />
    <span>Customer's Phone Number: </span><span th:text="${invoice.phone_number}"/><br />
    <span>Motorhome ID: </span><span th:text="${invoice.res_motorhome}"/><br />
    <span>Motorhome Car Model: </span><span th:text="${invoice.model_name}"/><br />
    <span>Motorhome Registration Number: </span><span th:text="${invoice.reg_number}"/><br />
    <span>Motorhome Price per Day: </span><span th:text="${invoice.price_per_day}"/><br />
    <span>Reservation Start Date: </span><span th:text="${invoice.date_reservation_start}"/><br />
    <span>Reservation End Date: </span><span th:text="${invoice.date_reservation_end}"/><br />
    <span>Total Number of Days Reserved: </span><span th:text="${invoice.nr_days}"/><br />
    <span>Price for Extra Accessories: </span><span th:text="${invoice.price_for_extras}"/><br />
    <span>Additional Expenses: </span><span th:text="${invoice.addit_exp_descript}"/><br />
    <span>Price for Additional Expense: </span><span th:text="${invoice.addit_expenses}"/><br />
    <span>Reservation Canceled: </span><span th:text="${invoice.canceled}"/><br />
    <span>Total Price: </span><span th:text="${invoice.total_price}"/><br />

    <br/>
    <a href="/displayInvoices"><button class="btn_back">Return</button></a>
</div>

        <div class="col-lg-4"></div>
</div>

</div>
</body>
</html>