<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/secondary.css">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class = "container-fluid" style="text-align: center">
    <h1 style="text-align: center">Cancel reservation</h1>

    <div class ="row">
        <div class="col-lg">
    <form action="/createFinalInvoice" method="post">
        <label>Reservation ID: </label>
        <input type="text" name="res_id" th:value="${reservation.res_id}" readonly />
        <br />
    <br/>
        <label>Motorhome ID: </label>
        <input type="text" name="res_motorhome" th:value="${reservation.res_motorhome}" readonly>
        <br />
    <br/>
    <label>Customer ID: </label>
    <input type="text" name="res_customer" th:value="${customer.cus_id}" readonly >
    <br/>
    <br/>
        </div>
        <div class="col-lg">
            <label>Reservation Start Date: </label>
            <input type="text" name="date_reservation_start" th:value="${reservation.date_reservation_start}" readonly  >

    <br/>
    <br/>
            <label>Motorhome Model: </label>
            <input type="text" name="model_name" th:value="${reservation.model_name}" readonly>
            <br/>
            <br/>
            <label>Customer First Name: </label>
            <input type="text" name="name" th:value="${customer.first_name}" readonly  >
        </div>
        <div class="col-lg">
            <label>Reservation End Date: </label>
            <input type="text" name="date_reservation_end" th:value="${reservation.date_reservation_end}" readonly  >
            <br/>
            <br/>
            <label>Motorhome Reg-Num: </label>
            <input type="text" name="reg_number" th:value="${reservation.reg_number}" readonly>
    <br/>
    <br/>
            <label>Customer Last Name: </label>
            <input type="text" name="name" th:value="${customer.last_name}" readonly  >

        </div>
        <div class="col-lg">
            <label>Current Date: </label>
            <input type="text" name="current_date" th:value="${current_date}" readonly  >
            <br/>
            <br/>
            <label>Motorhome's Price per Day: </label>
    <input type="text" name="price_per_day" th:value="${reservation.price_per_day}" readonly>


    <br/>
    <br/>
            <label>Bank Card Number: </label>
            <input type="text" name="bank_card" th:value="${customer.bank_card}" readonly >
    <br/>
    <br/>
        </div>
        <div class="col-lg">
            <label>Canceled: </label>
            <input type="text" name="canceled" th:value="Yes" readonly />
    <br/>
    <br/>
            <label>Type addit. expenses if any</label>
            <input type="text" name="addit_exp_descript">
    <br/>
    <br/>
    <label>Price: </label>
    <input type="text" name="price" th:value="${reservation.price}" readonly >
    <br/>
    <br/>
        </div>
            <div class="col-lg">
                <label>Days left prior booking</label>
                <input type="text" name="days_before_reservation" th:value="${days_before_reservation}" readonly>

    <br/>
    <br/>
    <label>Enter Price: </label>
    <input type="text" name="addit_expenses" pattern = "\d*" value="0">
    <br/>
    <br/>


    <input type="submit" value="Cancel Reservation">

</form>
<br />
<br />
<a href="/reservations">
    <button class="btn_cancel">Cancel</button>
</a>
            </div>
    </div>
</div>
</body>
</html>



