<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Title</title>
<script type="text/javascript">
    n =  new Date();
    y = n.getFullYear();
    m = n.getMonth() + 1;
    d = n.getDate();
    document.getElementById("today").innerHTML = y + "-" + m + "-" + d;
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/secondary.css">
        </head>
        <body>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div class = "container">
    <br/>
    <form action="/finishReservation?cus_id=${cus_id}&date_reservation_start=${date_reservation_start}&date_reservation_end=${date_reservation_end}&date_made=${date_made}&season=${season}&motor_id=${motor.id}" method="get">
    <h1>Chosen Dates</h1>
        <label>Customer ID:</label>
        <input type="text" name="cus_id" th:value="${cus_id}" readonly /><br />

        <label>Start Date:</label>
        <input type="text" name="date_reservation_start" th:value="${date_reservation_start}" readonly /><br />
        <label>End Date:</label>
        <input type="text" name="date_reservation_end" th:value="${date_reservation_end}" readonly /><br />
        <label>Today's Date:</label>
        <input type="text" name="date_made" th:value="${current_date}" >
        <br>
        <label>Choose Motorhome:</label>
        <input type="text" name="motor_id" required/><br />
        <label for="seasons">Choose a season:</label>
        <!--<select id="season" name="season">
            <option value="high_season">High Season</option>
            <option value="normal_season">Normal Season</option>
            <option value="low_season">Low Season</option>
        </select>-->
        <input list="seasons" name="season" required>
        <datalist id="seasons">
            <option value="Normal Season">
            <option value="High Season">
            <option value="Low Season">
        </datalist>
        <input type="submit">

    </form>
    <h1>Motorhome List</h1>
    <div class="table-responsive">
        <table class="table">
        <thead class ="thead-dark">
        <tr>
            <th>Motorhome ID</th>
            <th>Registration Number</th>
            <th>Motorhome Model</th>
            <th>Rent Status</th>
            <th>Mileage</th>
            <th>Capacity</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="motorhome: ${motorhomes}">
            <td th:text="${motorhome.motor_id}"/>
            <td th:text="${motorhome.reg_number}"/>
            <td th:text="${motorhome.motor_model}"/>
            <td th:text="${motorhome.status_rent}"/>
            <td th:text="${motorhome.mileage}"/>
            <td th:text="${motorhome.capacity}"/>
            <td>
        </tr>
        </tbody>
    </table>
    </div>
</head>
</div>
</html>