<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Choose Dates</h1>
<form action="availableMotorhome?cus_id=${customer.cus_id}&date_reservation_start=${date_reservation_start}&date_reservation_end=${date_reservation_end}" method="get">
    <label>Customer ID:</label>
    <input type="text" name="cus_id" th:value="${customer.cus_id}" readonly /><br />
    <br/>
    <br/>
    <label>Enter Start Date: </label>
    <input type="date" name="date_reservation_start" required>
    <br/>
    <br/>
    <label>Enter Reservation Date: </label>
    <input type="date" name="date_reservation_end" required >
    <input id = "add" type="submit" value="Add new Reservation">
    <br/>
</form>
</body>
</html>