<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/secondary.css">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div class = "container">
    <br/>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4" style="background-color: lightblue;border-radius: 30px;text-align: right">
<h1>Choose Dates</h1>
<form action="availableMotorhome?cus_id=${customer.cus_id}&date_reservation_start=${date_reservation_start}&date_reservation_end=${date_reservation_end}" method="get">
    <label>Customer ID:</label>
    <input type="text" name="cus_id" th:value="${customer.cus_id}" readonly /><br />
    <br/>
    <br/>
    <label>Enter Start Date: </label>
    <input type="date" name="date_reservation_start" required th:min="${current_date}">
    <br/>
    <br/>
    <label>Enter Reservation Date: </label>
    <input type="date" name="date_reservation_end" required th:min="${current_date}">
    <br/>
    <input id = "add" type="submit" value="Add new Reservation">
    <br/>
    <br/>
</form>
</div>

    <div class="col-lg-4"></div>
</div>
</div>
</body>
</html>