<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/secondary.css">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class = "container" style="text-align: center">
    <h1 style="text-align: center">Reservation Information</h1>
    <br/>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4" style="background-color: lightblue;border-radius: 30px;text-align: left">
            <span>Reservation ID: </span><span th:text="${reservation.res_id}"/><br />
            <span>Customer ID: </span><span th:text="${reservation.res_customer}"/><br />
            <span>Customer First Name: </span><span th:text="${reservation.first_name}"/><br />
            <span>Customer Last Name: </span><span th:text="${reservation.last_name}"/><br />
            <span>Customer Email: </span><span th:text="${reservation.email}"/><br />
            <span>Customer Phone Number: </span><span th:text="${reservation.phone_number}"/><br />
            <span>Motorhome ID: </span><span th:text="${reservation.res_motorhome}"/><br />
            <span>Motorhome Model: </span><span th:text="${reservation.model_name}"/><br />
            <span>Motorhome Registration Number: </span><span th:text="${reservation.reg_number}"/><br />
            <span>Price per Day for Motorhome: </span><span th:text="${reservation.price_per_day}"/><span> dkk</span><br />
            <span>Reservation Made: </span><span th:text="${reservation.date_made}"/><br />
            <span>Reservation Start Date: </span><span th:text="${reservation.date_reservation_start}"/><br />
            <span>Reservation End Date: </span><span th:text="${reservation.date_reservation_end}"/><br />
            <span>Number of Days: </span><span th:text="${reservation.nr_days}"/><br />
            <span>Additional Accessories: </span><span th:text="${reservation.extra_products}"/><br />
            <span>Additional Price for Accessories: </span><span th:text="${reservation.price_for_extras}"/><br />
            <span>Season: </span><span th:text="${reservation.season}"/><br />
            <span>Price: </span><span th:text="${reservation.price}"/><span> dkk</span><br />

            <br/>
            <a href="/reservations">
                <button class="btn_back">Go Back</button>
            </a>
            <br/>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
</body>
</html>